.switch {
  position: relative;
  display: inline-block;
  width: 48px; /* Adjusted width to keep the proportions */
  height: 26px; /* Changed height to 26px */
  flex-shrink: 0; /* Added flex-shrink property */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  transition: 0.4s;
  border-radius: 26px; /* Changed border-radius to match new height */
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px; /* Adjusted height */
  width: 18px; /* Adjusted width */
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(16, 119, 50, 1);
}

input:checked + .slider:before {
  transform: translateX(22px); /* Adjusted translation to match new size */
}
