@font-face {
  font-family: "milliard";
  src: url("/font/Milliard/Rene Bieder  Milliard Medium.otf") format("opentype"); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}
